.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 100px;
}

input, select{
    height: 30px;
    border-radius: 3px;
    border: 1px;
    margin-left: 20px;
    margin-right: 20px;
}

label{
    margin-bottom: 8px;
    font-weight: 600;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.address{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    border-color: white;
    margin-left: 65px;
    margin-right: 65px;

}

.infoEmployee{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.containerCity, .containerStateZip{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.containerCity input, .containerStateZip input{
    width: 205px;
}
.firstNameBox, .lastNameBox, .birthdayBox, .startDateBox, .streetBox, .cityBox, .zipCodeBox, .stateBox, .departementBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.firstNameBox, .lastNameBox, .birthdayBox, .startDateBox{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.containerNames, .containerDates{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    /* width: 100%; */
}

.departementBox{
    margin-top: 30px;
}

button{
    display: flex;
    justify-content: center; 
    align-items: center;
    align-content: center; 
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 3px;
    background-color: rgb(101, 219, 101);
    margin-top: 20px;
}
.saveBtn{
    display: flex;
    justify-content: center; 
    align-items: center;
    align-content: center;   
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    flex-wrap: wrap;
    background-color: rgb(115, 3, 63);
    border-radius: 3px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.department{
    height: 30px;
}
.DatePicker{
    width: 88%;
}

.react-datepicker__navigation, .react-datepicker__navigation--previous{
    margin-top: 0px;
}