.header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(0, 0, 0);
}


.navlink{
    color: white;
    text-decoration: none;
    font-weight: 800;
    margin-right: 55px;
}